.card {
  max-width: 50rem;
  width: 100%;
}

fieldset {
  border: solid 1px black;
  padding: 1em;
  margin-bottom: 1em;
}

.legend {
  background-color: rgb(77, 72, 72);
  color: white;
  padding: 1em 2em;
}

#password-fail {
  display: none;
  background-color: rgb(122, 32, 32);
  color: #fff;
  padding: 1em 1em;
}

#username-fail {
  display: none;
  background-color: #792020;
  color: #fff;
  padding: 1em 1em;
}
