footer {
  background-color: brown;
  font-size: 0.9rem;
}

address {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover {
  text-decoration: underline;
}
